<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <a class="navbar-brand text-danger">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-danger" [routerLink]="['/products']">Product List <span
        class="sr-only">(current)</span></a>
    </div>
  </div>
  <a class="btn btn-light my-2 my-sm-0 bg-danger navbar_btn" [routerLink]="['/shoppingcart']">Shopping Cart</a>
</nav>
<div class="mt-5">
  <router-outlet></router-outlet>
</div>

