<div class="container">
  <div class="row mb-5">
    <h1 class="text-danger col-11">Shopping Cart</h1>
    <button class="btn btn-light bg-danger" (click)="onClickCheckout()">Checkout</button>
  </div>
  <div class="px-4 px-lg-0">
    <div class="pb-5">
      <div class="container" *ngIf="productsToDisplay">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase cartItemsAlign">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase cartItemsAlign">Remove</div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productsToDisplay">
                  <th scope="row">
                    <div class="p-2">
                      <img src="{{product.imageUrl}}" alt="" width="70" height="70"
                           class="img-fluid rounded shadow-sm">
                      <div class="ml-3 d-inline-block align-middle">
                        <h5 class="mb-0"><a href="#"
                                            class="text-dark d-inline-block">{{product.name}} </a>
                        </h5><span
                        class="text-muted font-weight-normal font-italic">Category: {{product.category}}</span>
                      </div>
                    </div>
                  <td class="align-middle"><strong>{{product.price * getProductQuantity(product.id)}}
                    LEI</strong></td>
                  <td class="align-middle cartItemsAlign"><a class="text-dark"
                                                             [hidden]="(!decreaseButtonState(product.id))"
                                                             id="decreaseQuantityButton{{product.id}}"
                                                             (click)="decreaseQuantity(product.id)"><i
                    class="fas fa-minus"></i></a><strong>
                    {{getProductQuantity(product.id)}}</strong><a class="text-dark"
                                                                  id="increaseQuantityButton{{product.id}}"
                                                                  (click)="increaseQuantity(product.id)"><i
                    class="fas fa-plus"></i></a></td>
                  <td class="cartTrashAlign"><a class="text-dark"><i class="fa fa-trash"
                                                                     (click)="deleteProductFromCart(product.id)"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
